#question1{
  opacity: 1 !important;
}

@media (max-width: 765px) {
	.hiddenInMobile{
		display: none;
	}
  body {
    background-color: rgba(0,0,0,0);
    color: #51284f;
    font-family: 'Lato', sans-serif;
    height: 71.7%;
  }
  header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    top: 0;
    padding: 0 33px;
  }
  #quiz-header {
    border-bottom: 1px solid #ddd;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    padding-top: 25px;
  }
  #quiz-header #imgForDesktop {
    width: 225px;
    display: none;
  }
   #quiz-header #imgForMobile {
    width: 225px;
    display: block;
  }
  #quiz-header #quiz-header-msg {
    display: none;
  }
  #quiz-container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 0 33px;
  }
  #quiz-container #quiz-wellcome {
    background-color: #cabeca;
    min-height: 278px;
    padding-top: 20px;
    width: 100%;
    padding-left: 34px;
    padding-right: 37px;
    padding-bottom: 28px;
  }
  #quiz-container #quiz-wellcome h2 {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
  }
  #quiz-container #quiz-wellcome h2 br {
    display: none;
  }
  #quiz-container #quiz-wellcome h4 {
    margin-top: 32px;
    font-size: 22px;
    font-weight: 300;
  }
  #quiz-container #quiz-wellcome h4 br {
    display: none;
  }

  .mentr-quiz-content .question {
    padding-bottom: 3em;
    padding-top: 3em;
    margin-top: 40px;
  }
  .mentr-quiz-content .mentr-quiz-question {
    font-size: 22px;
    font-weight: 400;
  }
  .mentr-quiz-content .mentr-quiz-question small {
    color: #51284f;
    margin-right: 0.5em;
  }
  .mentr-quiz-content .mentr-quiz-respond {
    margin-left: 20px;
    margin-top: 1.7em;
    padding-top: 2em;
  }
  .mentr-quiz-content .mentr-quiz-respond span {
		display: inline-block;
		width: 47px;
		height: 47px;
		padding: 3px;
		border-radius: 50%;
		border: 2px solid transparent;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-desc-btn label {
    font-size: 16px;
    font-weight: 300;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    margin-right: 32px;
    float: left;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .img-fell-content {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: table;
    padding: 0.5em;
    border: 1px solid #cbcbcb;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .img-fell-content img {
    width: 140px;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond {
    width: 200px;
    margin: 0 auto;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 3em;
    position: relative;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond span {
    position: absolute;
    left: 0;
    display: block;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond span .mentr-ok-btn {
    *position: absolute;
    left: 0;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .selected .mentr-ok-btn {
    position: relative;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .mentr-desc-btn {
    left: 61px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .mentr-desc-btn {
    max-width: 188px;
    display: inline-block;
    display: table;
    height: 48px;
  }
  .mentr-quiz-content .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .mentr-desc-btn label {
    font-weight: 300;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
  }
  .mentr-quiz-btn-desc-op {
    display: inline-block;
    position: relative;
    width: 47px;
    height: 47px;
  }
  .mentr-quiz-btn-desc-op .upLabel {
    display: block !important;
    position: absolute !important;
    left: 23px !important;
    height: 40px !important;
    padding-left: 0.5em !important;
    width: 200px !important;
    border-left: 1px solid #543458 !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    top: -40px !important;
    border-radius: 0px !important;
    text-align: left !important;
  }
  .mentr-quiz-btn-desc-op .downLabel {
    display: block !important;
    position: absolute !important;
    right: 23px!important;
    height: 40px !important;
    padding-top: 1.2em !important;
    padding-right: 0.5em !important;
    width: 200px !important;
    border-right: 1px solid #543458 !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    text-align: right !important;
    border-radius: 0px !important;
  }
  #C1N,
  #C2N,
  #C3N {
    display: none;
  }
  #btn_1_content,
  #btn_2_content,
  #btn_3_content {
    display: none;
  }
  .mentr-ok-btn {
    background-color: #FFA500;
	background-image: linear-gradient(to bottom, #FFA95C, #FF885C);
	border: 0px solid transparent;
	color: #FFF;
	font-weight: bold;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 1em;
  }
  .mentr-ok-btn:hover {
    background-image: linear-gradient(to bottom, #ff973b, #ff713b);
  }
  .mentr-ok-btn #btnContent{
  	  width: 100%;
	  height: 100%;
	  text-align: center;
	  display: inline;
	  margin: 0;
	  vertical-align: middle;
	  padding: 0;
  }
  .selected {
    display: inline-block;
	width: 47px;
	height: 47px;
	padding: 3px;
	border-radius: 50%;
	border: 2px solid #ff6533 !important;
  }
  .selected .mentr-ok-btn {
    background-image: linear-gradient(to bottom, #ff973b, #ff713b);
  }
  .mentr-ok-btn-large {
    background-color: #ffa500;
    background-image: linear-gradient(to bottom, #ffa95c, #ff885c);
    border: 0px solid rgba(0,0,0,0);
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    height: 45px;
    margin: 0.2em 0.5em;
    width: 100px;
  }
  .mentr-ok-btn-large:hover {
    background-image: linear-gradient(to bottom, #ff973b, #ff713b);
  }
  .mentr-desc-btn {
    margin-left: 0.2em;
  }
  .mentr-input-text {
    border: 1px solid #cac8c8;
    color: #767676;
    font-size: 1.2em;
    height: 45px;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding: 0.5em;
    width: 200px;
  }
  #mentr-footer-submit {
    background-color: #cabeca;
    margin: 0em 0;
    min-height: 187px;
    width: 100%;
    display: table;
  }
  #mentr-footer-submit #mentr-footer-row {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  #mentr-footer-submit #mentr-footer-row #mentr-footer-cell {
    display: inline-block;
  }
  .mentr-btn-submit {
    background-color: #f27c59;
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.4em;
    height: 50px;
    width: 140px;
  }
  .mentr-btn-submit:hover {
    background-color: #ff6532;
  }
  #mentr-quiz-nav {
    background: #543458;
    bottom: 0;
    height: 60px;
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0.2em;
  }
  #mentr-quiz-nav .div-navContainer {
    max-width: 1225px;
    margin: 0 auto;
    padding-left: 2em;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress {
    width: 335px;
    margin: 0;
    float: left;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div {
    display: inline;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div #mentr-progres-bar {
    display: inline-block;
    max-width: 270px;
    width: 100%;
    height: 4px;
    background-color: #6e4666;
    border-radius: 6px;
    margin-top: 2em;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div #mentr-progres-bar #mentr-progres-indicator {
    width: 0%;
    height: 100%;
    display: block;
    background-color: #e4bec3;
    position: relative;
    border-radius: 6px;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div #mentr-progres-bar #mentr-progres-indicator #mentr-progres-ball {
    width: 20px;
    height: 20px;
    background-color: #543458;
    border: 2px solid #e4bec3;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -4px;
  }
  #mentr-quiz-nav #mentr-quiz-nav-btn-content .btn-nav {
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    border: 2px solid #e4bec3;
    color: #e4bec3;
    height: 45px;
    margin: 0.2em;
    width: 45px;
    margin-top: 6px;
  }
  #mentr-quiz-nav #mentr-quiz-nav-btn-content .btn-nav span {
    font-size: 1.8em;
  }
  .procentaje {
    color: #dcb6bd;
    margin-left: 1em;
  }
  #mentr-quiz-space-nav {
    width: 100%;
    height: 60px;
  }
  #quiz-result-container {
    color: #000;
    width: 1225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 162px;
  }
  #quiz-result-container #result-container-principal {
    width: 770px;
    float: left;
    margin-right: 30px;
  }
  #quiz-result-container #result-container-principal #quiz-result-principal #quiz-result-principal-container {
    width: 100%;
    min-height: 200px;
    padding: 1em;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 1em;
  }
  #quiz-result-container #result-container-principal #quiz-result-principal #quiz-result-principal-container #img-principal {
    background-image: url("../webroot/img/train.jpg");
    width: 770px;
    min-height: 404px;
    position: relative;
    background-color: #808080;
    background-size: 100% 100%;
    background-image: url("../webroot/img/train.jpg");
    background-position: center;
  }
  #quiz-result-container #result-container-principal #quiz-result-principal #quiz-result-principal-container #img-principal #tittle {
    position: absolute;
    bottom: 0;
    height: 70px;
    padding: 6px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 40px;
    font-weight: 100;
  }
  .quiz-result-resultado {
    padding-bottom: 1em;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 1em;
  }
  .quiz-result-resultado p {
    text-align: justify;
  }
  .quiz-result-cursos {
    width: 100%;
    min-height: 120px;
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #bdbdbd;
  }
  .quiz-result-cursos #quiz-result-img-content {
    width: 100%;
    min-height: 112px;
    position: relative;
    color: #fff;
  }
  .quiz-result-cursos #quiz-result-img-content #tittle {
    position: absolute;
    bottom: 0;
    padding: 0.2em 0.4em;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
  }
  .quiz-result-btn {
    height: 84px;
    margin-top: 40px;
    margin-bottom: 1em;
    width: 672px;
    background-color: #ff8c66;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 2px 2px 4px 1px #9e9e9e;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 300;
  }
}










@media (min-width: 750px) {
  body {
    background-color: rgba(0,0,0,0);
    color: #51284f;
    font-family: 'Lato', sans-serif;
    height: 71.7%;
  }
  header {
    position: fixed;
    width: 100%;
    min-width: 766px;
    background-color: #fff;
    z-index: 2;
    top: 0;
  }
   #quiz-header #imgForDesktop {
    width: 225px;
    display: block;
  }
   #quiz-header #imgForMobile {
    width: 225px;
    display: none;
  }
  #quiz-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  #quiz-container #quiz-wellcome {
    background-color: #cabeca;
    min-height: 218px;
    padding-top: 32px;
    width: 100%;
    padding-left: 22px;
    /*agregado por Diego*/
    border-top: solid 2px #aca2ac;
  }
  #wellcome h2 {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
  }
  #wellcome h4 {
    /*agregado por Diego*/
    margin-top: 10px;
    font-size: 22px;
    font-weight: 300;
    /*agregado por Diego*/
    line-height: 27px;
  }
  #quiz-header {
    border-bottom: 2px solid #d6d6d6;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
  }
  #quiz-header img {
    float: left;
    margin-top: 30px;
    width: 226px;
  }
  #quiz-header #quiz-header-msg {
    color: #e4bec3;
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-top: 30px;
    max-width: 718px;
    text-align: right;
    font-weight: 300;
  }
  .mentr-quiz-content {
    margin-left: 200px;
    margin-right: 200px;
    /*cambiado por Diego*/
    margin-top: -27px;
  }
  .question {
    padding-bottom: 3em;
    padding-top: 3em;
    /*cambiado por Diego*/
    margin-top: 980px;
  }
  .question1 {
    padding-bottom: 3em;
    padding-top: 3em;
    margin-top: 80px;
  }
  .mentr-quiz-question {
    font-size: 22px;
    font-weight: 400;
  }
  .mentr-quiz-question small {
    color: #51284f;
    margin-right: 0.5em;
  }
  .mentr-quiz-respond {
    margin-left: 47px;
    margin-top: 1.7em;
  }
  .mentr-quiz-respond span {
		display: inline-block;
		width: 55px;
		height: 55px;
		padding: 3px;
		border-radius: 50%;
		border: 2px solid rgba(0,0,0,0);  
    margin-left: -5px;
  }
  
  .mentr-quiz-respond .mentr-desc-btn label {
    font-size: 18px;
    font-weight: 300;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    margin-right: 32px;
    float: left;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .img-fell-content {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: table;
    padding: 0.5em;
    border: 2px solid #cbcbcb;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .img-fell-content img {
    width: 140px;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond {
    width: 200px;
    margin: 0 auto;
    margin-top: 1em;
    position: relative;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond span {
    position: absolute;
    left: 0;
    display: block;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond span .mentr-ok-btn {
    position: absolute;
    left: 0;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .selected .mentr-ok-btn {
    position: relative;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .mentr-desc-btn {
    left: 61px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .mentr-desc-btn {
    max-width: 188px;
    display: inline-block;
    display: table;
    height: 48px;
  }
  .mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .mentr-desc-btn label {
    font-weight: 300;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
  }
  .mentr-quiz-btn-desc-op {
    display: inline-block;
    position: relative;
    width: 55px;
  }
  .mentr-quiz-btn-desc-op #mentr-quiz-btn-desc-op-label {
		display: block;
		position: absolute;
		left: 27px;
		height: 40px;
		padding-top: 23px;
		padding-left: 4px;
		width: 200px;
		border: none;
		border-left: 1px solid #543458;
		font-size: 16px;
		font-weight: 300;
		border-radius: 0px;
		text-align: left;
  }
  #C1N,
  #C2N,
  #C3N {
    display: none;
  }
  #btn_1_content,
  #btn_2_content,
  #btn_3_content {
    display: none;
  }
  .mentr-ok-btn {
    background-color: #ffa500;
    background-image: linear-gradient(to bottom, #ffa95c, #ff885c);
    border: 0px solid rgba(0,0,0,0);
    color: #fff;
    font-weight: bold;    
    width: 100%;
	height: 100%;
	border-radius: 50%;
	text-align: center;
  margin: 0;
  }
  .mentr-ok-btn:hover {
    background-image: linear-gradient(to bottom, #ff973b, #ff713b);
  }
  .mentr-ok-btn #btnContent{
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  display: inline;
	  margin: 0;
	  vertical-align: middle;
	  padding: 0;
  }
  .selected {
    display: inline-block;
	width: 55px;
	height: 55px;
	padding: 3px;
	border-radius: 50%;
	border: 2px solid #ff6533 !important;
  }
  .selected .mentr-ok-btn {
    margin: 0;
    background-image: linear-gradient(to bottom, #ff973b, #ff713b);
  }
  .mentr-ok-btn-large {
    background-color: #ffa500;
    background-image: linear-gradient(to bottom, #ffa95c, #ff885c);
    border: 0px solid rgba(0,0,0,0);
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    height: 45px;
    margin: 0.2em 0.5em;
    width: 100px;
  }
  .mentr-ok-btn-large:hover {
    background-image: linear-gradient(to bottom, #ff973b, #ff713b);
  }
  .mentr-desc-btn {
    margin-left: 0.2em;
  }
  .mentr-input-text {
    border: 1px solid #cac8c8;
    color: #767676;
    font-size: 1.2em;
    height: 45px;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding: 0.5em;
    width: 200px;
  }
  #mentr-footer-submit {
    background-color: #cabeca;
    margin: 0em 0;
    min-height: 187px;
    padding: 70px 0 0 261px;
    width: 100%;
  }
  #mentr-footer-submit #mentr-footer-row {
    display: table-row;
  }
  #mentr-footer-submit #mentr-footer-row #mentr-footer-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .mentr-btn-submit {
    background-color: #f27c59;
    border-radius: 6px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.4em;
    height: 50px;
    width: 140px;
  }
  .mentr-btn-submit:hover {
    background-color: #ff6532;
  }
  #mentr-quiz-nav {
    background: #543458;
    bottom: 0;
    height: 60px;
    position: fixed;
    left: 0;
    width: 100%;
    min-width: 766px;
    padding: 0.2em;
  }
  #mentr-quiz-nav .div-navContainer {
    max-width: 1225px;
    margin: 0 auto;
    padding-left: 2em;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress {
    width: 400px;
    margin: 0;
    float: left;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div {
    display: inline;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div #mentr-progres-bar {
    display: inline-block;
    max-width: 270px;
    width: 100%;
    height: 4px;
    background-color: #6e4666;
    border-radius: 6px;
    margin-top: 2em;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div #mentr-progres-bar #mentr-progres-indicator {
    width: 0%;
    height: 100%;
    display: block;
    background-color: #e4bec3;
    position: relative;
    border-radius: 6px;
  }
  #mentr-quiz-nav .div-navContainer .mentr-quiz-progress div #mentr-progres-bar #mentr-progres-indicator #mentr-progres-ball {
    width: 20px;
    height: 20px;
    background-color: #543458;
    border: 2px solid #e4bec3;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -4px;
  }
  #mentr-quiz-nav #mentr-quiz-nav-btn-content .btn-nav {
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    border: 2px solid #e4bec3;
    color: #e4bec3;
    height: 45px;
    margin: 0.5em;
    width: 45px;
  }
  #mentr-quiz-nav #mentr-quiz-nav-btn-content .btn-nav span {
    font-size: 1.8em;
  }
  .procentaje {
    color: #dcb6bd;
    margin-left: 1em;
  }
  #mentr-quiz-space-nav {
    width: 100%;
    height: 60px;
  }
  #quiz-result-container {
    color: #000;
    width: 1225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 162px;
  }
  #quiz-result-container #result-container-principal {
    width: 770px;
    float: left;
    margin-right: 30px;
  }
  #quiz-result-container #result-container-principal #quiz-result-principal #quiz-result-principal-container {
    width: 100%;
    min-height: 200px;
    padding-bottom: 1em;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 1em;
  }
  #quiz-result-container #result-container-principal #quiz-result-principal #quiz-result-principal-container #img-principal {
    background-image: url("../webroot/img/train.jpg");
    width: 770px;
    min-height: 404px;
    position: relative;
    background-color: #808080;
    background-size: 100% 100%;
    background-image: url("../webroot/img/train.jpg");
    background-position: center;
  }
  #quiz-result-container #result-container-principal #quiz-result-principal #quiz-result-principal-container #img-principal #tittle {
    position: absolute;
    bottom: 0;
    height: 70px;
    padding: 6px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 40px;
    font-weight: 100;
  }
  .quiz-result-resultado {
    padding-bottom: 1em;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 1em;
  }
  .quiz-result-resultado .result-header {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
  }
  .quiz-result-resultado .result-header big label {
    font-size: 20px;
    font-weight: 400;
  }
  .quiz-result-resultado .result-header label {
    font-size: 16px;
    font-weight: 400;
  }
  .quiz-result-resultado p {
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
  }
  .quiz-result-cursos {
    width: 100%;
    min-height: 120px;
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #bdbdbd;
  }
  .quiz-result-cursos #quiz-result-img-content {
    width: 100%;
    min-height: 112px;
    position: relative;
    color: #fff;
  }
  .quiz-result-cursos #quiz-result-img-content #tittle {
    position: absolute;
    bottom: 0;
    padding: 0.2em 0.4em;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
  }
  .quiz-result-btn {
    height: 84px;
    margin-top: 40px;
    margin-bottom: 1em;
    width: 672px;
    background-color: #ff8c66;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 2px 2px 4px 1px #9e9e9e;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 300;
  }
  #Recommendations #recomendation-content {
    margin-bottom: 1em;
  }
  #Recommendations #recomendation-content #circle-arrow {
    width: 45px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
    padding-top: 1em;
    margin-right: 35px;
  }
  #Recommendations #recomendation-content #recomendacion {
    float: left;
    width: 690px;
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
  }
}
