body {
  background-color: rgba(0,0,0,0);
  color: #51284f;
  font-family: 'Lato', sans-serif;
  height: 71.7%;
}
.gifLoader{
  width: 10%;
    margin-top: -3px;
}

.btn_quiz_VIA {
  background-image: none !important;
  border-radius: 15px !important;
  width: 120px !important;
  height: 40px !important;
  border: none !important;
}

#h2_via{
  margin-top:0 !important;
  font-weight: 400;
}

#h4_via{
  margin-top: 30px !important;
  line-height: inherit;
}

#quiz-container #quiz-wellcome {
  background-color: #cabeca;
  min-height: 200px;
  padding: 10px 155px;
  width: 100%;
}

#quiz-wellcome_skills {
  background-color: #cabeca;
  min-height: 218px;
  padding: 30px 155px;
  width: 100%;
  margin-top: 100px;
}

#quiz-wellcome_skills h2{
  margin-top: 0;
  font-weight: 400;
}

#quiz-wellcome_skills h4{
  margin-bottom: 0;
  line-height: 30px;
  }

#quiz-header img {
  float: left;
}
#quiz-header #quiz-header-msg {
  color: #e4bec3;
  display: inline-block;
  float: right;
  margin-top: 2em;
  max-width: 350px;
  text-align: right;
}
.question {
  *padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 1000px;
}
.question1 {
  *padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 100px;
}
.mentr-quiz-question {
  font-size: 16px;
  font-weight: 400;
}
.mentr-quiz-question small {
  color: #51284f;
  margin-right: 0.5em;
}
.mentr-quiz-respond {
  margin-left: 2.4em;
  margin-top: 1.7em;
}
.mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .img-fell-content {
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid #cbcbcb;
}
.mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .img-fell-content img {
  width: 100%;
}
.mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond {
  width: 200px;
  margin: 0 auto;
  margin-top: 1em;
}
.mentr-quiz-respond .mentr-quiz-feel .mentr-quiz-feel-option .mentr-quiz-feel-respond .mentr-desc-btn {
  max-width: 134px;
  display: inline-block;
}
.mentr-quiz-btn-desc-op {
  display: inline-block;
  position: relative;
  width: 59px;
}
.mentr-quiz-btn-desc-op #mentr-quiz-btn-desc-op-label {
  display: block;
  position: absolute;
  left: 1.8em;
  height: 40px;
  padding-top: 27px;
  padding-left: 0.5em;
  width: 150px;
  border-left: 1px solid #543458;
  font-size: 16px;
}
#C1N,
#C2N,
#C3N {
  display: none;
}
#btn_1_content,
#btn_2_content,
#btn_3_content {
  display: none;
}
.mentr-ok-btn {
  background-color: #ffa500;
  background-image: linear-gradient(to bottom, #ffa95c, #ff885c);
  border: 0px solid rgba(0,0,0,0);
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  height: 45px;
  margin: 0.2em 0.5em;
  width: 45px;
}

.mentr-ok-select {
  background-color: #ffa500;
  background-image: linear-gradient(to bottom, #ffa95c, #ff885c);
  border: 0px solid rgba(0,0,0,0);
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  height: 35px;
  margin: 0.2em 0.9em;
  width: 35px;
}

.multiple_select{
  margin-left: 80px;
  margin-top: 15px;
}

.multiple_select table{
  font-size: 20px;
  border-spacing: 0px 16px;
}

.single_select{
  margin: 15px;
}

.single_select table{
  font-size: 20px;
  border-spacing: 0px 16px;
}

.single_option{
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  padding-left: 50px;
  margin-top: -55px;
  width: 138px;
}

.simple_select_item_u{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width:32px;
  height:32px;
  background-image: url("../webroot/img/dashboard/circle-uncheck.png");  
  background-repeat: no-repeat;
}

.simple_select_item_c{
  display: none;
  width:32px;
  height:32px;
  vertical-align: middle;
  margin-right: 5px;
  background-image: url("../webroot/img/dashboard/circle-check.png");  
  background-repeat: no-repeat;
}

.item_multiple_style{
  padding:0;
  cursor:pointer;
  background-color: white;
  background-image: none;
  border: none;
  border-radius: none;
  height: 35px;
  margin: 0;
  /*min-width: 250px;*/
}

.mentr-ok-btn:hover {
  background-image: linear-gradient(to bottom, #ff973b, #ff713b);
}

.letra_span{
  font-size: 20px;
  font-weight: 400;
}
.letra_span2{
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}

.lista_horizontal td{
  padding-left: 10px;
  margin-left: -65px !important;
}

.item_multiple_style:hover{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0));
}

.selected {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  height: 53px;
  width: 53px;
  padding-top: 2px;
  border: 2px solid #ff6533 !important;
  margin-left: 3px;
}


.selected .mentr-ok-btn {
  margin: 0;
  background-image: linear-gradient(to bottom, #ff973b, #ff713b);
}
.mentr-ok-btn-large {
  background-color: #ffa500;
  background-image: linear-gradient(to bottom, #fd8a64, #fd8a64);
  border: 0px solid rgba(0,0,0,0);
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  height: 45px;
  margin: 0.2em 0.5em;
  width: 100px;
}
.mentr-ok-btn-large:hover {
  background-image: linear-gradient(to bottom, #ff973b, #ff713b);
}
.mentr-desc-btn {
  margin-left: 0.2em;
}
.mentr-input-text {
  border: 1px solid #cac8c8;
  color: #767676;
  font-size: 1.2em;
  height: 45px;
  margin-bottom: 0.5em;
  margin-right: 1em;
  padding: 0.5em;
  width: 200px;
}
#mentr-footer-submit {
  background-color: #cabeca;
  display: table;
  min-height: 150px;
  padding: 4em 22em;
  width: 100%;
  margin-top: -210px;
    margin-bottom: 60px;
}
#mentr-footer-submit #mentr-footer-row {
  display: table-row;
  text-align: center;
}
#mentr-footer-submit #mentr-footer-row #mentr-footer-cell {
  display: table-cell;
}
.mentr-btn-submit {
  background-color: #f27c59;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.4em;
  height: 50px;
  width: 140px;
}
.mentr-btn-submit:hover {
  background-color: #ff6532;
}
#mentr-quiz-nav {
  background: #543458;
  bottom: 0;
  height: 60px;
  position: fixed;
  right: 0;
  width: 1280px !important;
  margin: 0 auto;
  padding: 0.2em;
}
#mentr-quiz-nav #mentr-quiz-nav-btn-content .btn-nav {
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  border: 2px solid #e4bec3;
  color: #e4bec3;
  height: 45px;
  margin: 0.5em;
  width: 45px;
}
#mentr-quiz-nav #mentr-quiz-nav-btn-content .btn-nav span {
  font-size: 1.8em;
}
#mentr-quiz-nav #mentr-progres-bar {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  height: 4px;
  background-color: #6e4666;
  border-radius: 6px;
  margin-top: 2em;
}
#mentr-quiz-nav #mentr-progres-bar #mentr-progres-indicator {
  width: 0%;
  height: 100%;
  background-color: #e4bec3;
  position: relative;
  border-radius: 6px;
}
#mentr-quiz-nav #mentr-progres-bar #mentr-progres-indicator #mentr-progres-ball {
  width: 20px;
  height: 20px;
  background-color: #543458;
  border: 2px solid #e4bec3;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -8px;
  right: -1px;
}
.procentaje {
  color: #dcb6bd;
  margin-left: 1em;
}
#mentr-quiz-space-nav {
  width: 100%;
  height: 100px;
}
#quiz-result-container {
  color: #000;
}
#quiz-result-container #quiz-result-principal #quiz-result-principal-container {
  width: 100%;
  min-height: 200px;
  padding: 1em;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 1em;
}
#quiz-result-container #quiz-result-principal #quiz-result-principal-container #img-principal {
  background-image: url("../webroot/img/train.jpg");
  width: 100%;
  min-height: 300px;
  position: relative;
  background-color: #808080;
  background-size: 100% 100%;
  background-image: url("../webroot/img/train.jpg");
  background-position: center;
}
#quiz-result-container #quiz-result-principal #quiz-result-principal-container #img-principal #tittle {
  position: absolute;
  bottom: 0;
  padding: 0.5em;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
.quiz-result-resultado {
  padding-bottom: 1em;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 1em;
}
.quiz-result-resultado p {
  text-align: justify;
}
.quiz-result-cursos {
  width: 100%;
  min-height: 120px;
  padding: 0.5em 0.2em;
  border-bottom: 1px solid #bdbdbd;
}
.quiz-result-cursos #quiz-result-img-content {
  width: 100%;
  min-height: 112px;
  position: relative;
  color: #fff;
}
.quiz-result-cursos #quiz-result-img-content #tittle {
  position: absolute;
  bottom: 0;
  padding: 0.2em 0.4em;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
}
.quiz-result-btn {
  height: 45px;
  margin-bottom: 1em;
  width: 100%;
  background-color: #ff8c66;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 2px 2px 4px 1px #9e9e9e;
  border-radius: 6px;
}



/* skills assessments */

.mentr-quiz-content{
  padding-left: 255px;
}

@media ( max-width : 750px) {
.single_option{
  padding-left: 10px;
  margin-top: 0px;
}
}

